{% extends 'includes/base.html' %}
{%block main_content %}
 <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Add Guard</h1>
          <div class="row">
            <div class="col-lg-3">
              <a href="{% url 'guards' %}" class="btn btn-secondary btn-icon-split mb-4">
                <span class="icon text-white">
                  <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text">Back</span>
              </a>
            </div>
            <div class="col-lg-5 offset-lg-4">
              {% for m in messages %}
              {% if m.tags == 'error' %}
              
              <div class="alert alert-danger alert-dismissible fade show"><strong>Info: </strong>{{m}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          
           </div>
            {% elif m.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show"><strong>Info: </strong>{{m}}
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
               </div>
               {%endif%}
              {%endfor%}

            </div>
          </div>
          <div class="col-lg-10 p-0">
            <form method="post" enctype="multipart/form-data" action="">
              {% csrf_token %}
            <div class="card">
              <h5 class="card-header">Guard Master Data</h5>
              <div class="card-body">
                <h5 class="card-title">Add New Guard</h5>
                <p class="card-text">Form to add new guard to system</p>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group row">
                      <label for="e_name" class="col-form-label col-lg-4">Guard Name</label>
                      <div class="col p-0">
                        <input type="text" class="form-control col-lg" name="guard_name" id="e_name" autofocus>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="d_id" class="col-form-label col-lg-4">Department Name</label>
                      <div class="col p-0">
                        <select class="form-control" name="d_id" id="d_id">
                          {%for department in departments %}
                            <option value="{{department.id}}">{{department.name}}</option>
                          {%endfor%}
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-form-label col-lg-4">Email</label>
                      <div class="col p-0">
                        <input type="text" class="form-control col-lg" name="email" id="email">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="e_gender" class="col-form-label col-lg-4">Gender</label>
                      <div class="form-check form-check-inline my-0">
                        <input class="form-check-input" type="radio" name="gender" id="m" value="male">
                        <label class="form-check-label" for="m">
                          Male
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="f" value="female">
                        <label class="form-check-label" for="f">
                          Female
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group row">
                      <label for="image" class="col-form-label col-lg-4">Guard Image</label>
                      <div class="col-lg-8 p-0">
                        <input type="file" name="profile_pic" id="image">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="s_id" class="col-form-label col-lg-4">Shift</label>
                      <div class="col p-0">
                        <select class="form-control" name="shift" id="s_id">
                          {% for shift in shifts %}
                            <option value="{{shift.id}}">{{ shift.start }} - {{ shift.end }}</option>
                          {%endfor%}
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="e_birth_date" class="col-form-label col-lg-4">Guard D.O.B</label>
                      <div class="col-lg p-0">
                        <input type="date" class="form-control col-lg" name="dob" id="e_birth_date" min="1990-01-01" max="2007-01-01" required>
                        <small class="form-text text-muted">Guard must be at least 18 years old.</small>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="e_hire_date" class="col-form-label col-lg-4">Hired Date</label>
                      <div class="col-lg p-0">
                        <input type="date" class="form-control col-lg" name="hire_date" id="e_hire_date" min="2004-04-16" max="">
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-success btn-icon-split mt-4 float-right">
                  <span class="icon text-white">
                    <i class="fas fa-plus-circle"></i>
                  </span>
                  <span class="text">Add to system</span>
                </button>
                </form>
              </div>
            </div>
          </div>
          </form>
        </div>
        <!-- /.container-fluid -->

        {%endblock main_content %}

        <script>
          // Add the following code if you want the name of the file appear on select
          $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
          });
        </script>
