{% extends 'includes/base.html' %}
{%block main_content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">{{title}}</h1>

          <a href="{% url 'shifts' %}" class="btn btn-secondary btn-icon-split mb-4">
            <span class="icon text-white">
              <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text">Back</span>
          </a>
          <div class="col-lg-5 offset-lg-4">
            {% for m in messages %}
            {% if m.tags == 'error' %}
            
            <div class="alert alert-danger alert-dismissible fade show"><strong>Info: </strong>{{m}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        
            </div>
             {%endif%}
            {%endfor%}
          </div>
          <form action="" method="POST" class="col-lg-5  p-0">
            {% csrf_token %}
            <div class="card">
              <h5 class="card-header">Shift Master Data</h5>
              <div class="card-body">
                <h5 class="card-title">Add New shift</h5>
                <p class="card-text">Form to add new shift to system</p>
                <div class="form-group">
                  <label for="s_start_h" class="col-form-label-lg">Shift Start Time</label>
                  <div class="row">
                    <div class="col-sm-6">
                      <input type="time" class="form-control form-control-lg" name="s_start" id="s_start_h">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="s_end_h" class="col-form-label-lg">Shift End Time</label>
                  <div class="row">
                    <div class="col-sm-6">
                      <input type="time" class="form-control form-control-lg" name="s_end">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-success btn-icon-split mt-4 float-right">
                  <span class="icon text-white">
                    <i class="fas fa-plus-circle"></i>
                  </span>
                  <span class="text">Add to system</span>
                </button>
          </form>
        </div>
        </div>
        </form>
        </div>
        <!-- /.container-fluid -->

        {%endblock main_content %}
