{% extends 'includes/base.html' %}
{% block main_content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Edit Guard</h1>

  <a href="{% url 'guards' %}" class="btn btn-secondary btn-icon-split mb-4">
    <span class="icon text-white">
      <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text">Back</span>
  </a>

  <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-lg p-0">
      <div class="row">
        <div class="col-lg-3">
          <div class="card" style="width: 100%; height: 100%">
            <img src="{{ guard.profile_pic }}" class="card-img-top w-75 mx-auto pt-3">
            <div class="card-body mt-3">
              <label for="image">Change Guard Image</label>
              <input type="file" name="profile_pic" id="image" class="mt-2">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <h5 class="card-header">Guard Master Data</h5>
            <div class="card-body">
              <h5 class="card-title">Edit Guard</h5>
              <p class="card-text">Form to edit guard in system</p>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="employee_id" class="col-form-label">Guard ID</label>
                    <input type="text" readonly class="form-control-plaintext" name="e_id" value="{{ guard.id }}">
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="form-group">
                    <label for="e_name" class="col-form-label">Guard Name</label>
                    <input type="text" class="form-control" name="guard_name" id="e_name" value="{{ guard.name }}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="e_gender" class="col-form-label">Gender</label>
                    <div class="row col-lg">
                      <div class="form-check form-check-inline my-0">
                        <input class="form-check-input" type="radio" name="gender" id="m" value="male" {% if guard.gender == "male" %} checked {% endif %}>
                        <label class="form-check-label" for="m">
                          Male
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="f" value="female" {% if guard.gender == "female" %} checked {% endif %}>
                        <label class="form-check-label" for="f">
                          Female
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="e_birth_date" class="col-form-label">Guard D.O.B</label>
                    <div class="col-lg p-0">
                      <input type="date" class="form-control" name="dob" id="e_birth_date" value="{{ guard.birth_date|date:'Y-m-d' }}">
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="e_hire_date" class="col-form-label">Hire Date</label>
                    <div class="col-lg p-0">
                      <input type="date" class="form-control" name="hire_date" id="e_hire_date" value="{{ guard.hire_date|date:'Y-m-d' }}">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="s_id" class="col-form-label">Location</label>
                    <select class="form-control" name="location" id="s_id">
                      {% for location in locations %}
                        <option value="{{ location.id }}" {% if location.id == guard.location.id %} selected {% endif %}>{{ location.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="d_id" class="col-form-label">Department</label>
                    <select class="form-control" name="department" id="d_id">
                      {% for department in departments %}
                        <option value="{{ department.id }}" {% if department.id == guard.department.id %} selected {% endif %}>{{ department.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-success btn-icon-split mt-4 float-right">
                <span class="icon text-white">
                  <i class="fas fa-check"></i>
                </span>
                <span class="text">Save Changes</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- /.container-fluid -->
{% endblock main_content %}