{% extends 'includes/base.html' %}
{%block main_content %}
        
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Guards</h1>

          <div class="row">
            <div class="col-lg-3">
              <a href="{% url 'add_guard' %}" class="btn btn-info btn-icon-split mb-4">
                <span class="icon text-white-600">
                  <i class="fas fa-plus-circle"></i>
                </span>
                <span class="text">Add New Guard</span>
              </a>
            </div>
            <div class="col-lg-5 offset-lg-4">
              {% for m in messages %}
                {% if m.tags == 'error' %}
                
                <div class="alert alert-danger alert-dismissible fade show"><strong>Info: </strong>{{m}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            
             </div>
             {% elif m.tags == 'success' %}
             <div class="alert alert-success alert-dismissible fade show"><strong>Info: </strong>{{m}}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                 </div>
                 {%endif%}
                {%endfor%}
            </div>
          </div>

          <!-- Data Table employee-->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Guard</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Shift</th>
                      <th>Gender</th>
                      <th>Image</th>
                      <th>DOB</th>
                      <th>Hire Date</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                
                  <tbody>
                    {% for guard in guards %}
                      <tr>
                        <td class=" align-middle">{{forloop.counter}}</td>
                        <td class=" align-middle">{{guard.id}}</td>
                        <td class=" align-middle">{{guard.name}}</td>
                        <td class=" align-middle">{{guard.shift}}</td>
                        <td class=" align-middle">{{guard.gender}}</td>
                        <td class="text-center"><img src="{{guard.profile_pic}}" style="width: 55px; height:55px" class="img-rounded"></td>
                        <td class=" align-middle">{{guard.birth_date}}</td>
                        <td class=" align-middle">{{guard.hire_date}}</td>
                        <td class="text-center align-middle">
                          <a href="edit_guard?guardid={{guard.id}}" class="btn btn-primary btn-circle">
                            <span class="icon text-white" title="Edit">
                              <i class="fas fa-edit"></i>
                            </span>
                          </a> |
                          <a href="{%url 'guards' %}?del={{guard.id}}" class="btn btn-danger btn-circle" onclick="return confirm('Deleted employee will lost forever. Still want to delete?')">
                            <span class="icon text-white" title="Delete">
                              <i class="fas fa-trash-alt"></i>
                            </span>
                          </a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
        {%endblock main_content %}